body { font-size: .875rem;font-family: 'Ubuntu', sans-serif; }
a.dropdown-item { font-size:14px }
.dropdown-menu { padding: 4px 0px }
.bg-dark { background-color: #222831 !important; }
.bg-light { background-color: #eeeeee !important;}
.navbar-dark .navbar-nav .nav-link { color: #eeeeee; font-size: .9rem; }
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    text-align: center;
    font-weight: 900;
    transition: all .4s;
}
.short-brand{
    display:none;
    content: " ";
    opacity: 1;
}
.main{
    max-width: 83%;
    min-width: 83%;
    margin-left: auto;
    padding: 48px 3rem 0 3rem;  /* Space for fixed navbar */
    transition: all .4s;
}
.sidebar{
    position:fixed;
    top: 0;
    bottom:0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
    background: #393e46;
    transition: all .4s;
}
.sidebar.show {
    min-width: 85px;
    max-width: 85px;
    text-align: center;
    margin-left: 0px !important;
}
.sidebar-sticky{
    position:relative;
    top:0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    color:white;
}
.sidebar .nav-item a{
    font-weight: 500;
    color: #eeeeee;
    padding: 12px;
    font-size: 1.1em;
    display: block;
}
.sidebar .nav-item.active >a{
    background: #00adb5;
}
.sidebar .nav-item a:hover {
    color: #ffffff;
    background: #018790;
    text-decoration: none;
}
.sidebar .nav-item a i {
    margin-right: 10px;
}
.sidebar .nav-item ul li a{
    padding-left: 30px;
}

.sidebar.active {
    max-width: 82px;
    min-width: 82px;
    text-align: center;
}
.sidebar.active .nav-item a i{
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
.sidebar.active .nav-item a{
    padding: 20px 0px;
    text-align: center;
    font-size: 0.85em;
}
.navbar-brand.active{
    max-width: 82px;
    min-width: 82px;
    text-align: center;
    font-weight: 900;
}

.textA{
    height: 24px;
    position: relative;
}
.textA span, .textT span{ 
  transition: all 2s;
  transition-delay: 0.2s;
}
.textA span:first-of-type,
.textA span:nth-of-type(2),
.textA span:nth-of-type(3),
.textA span:nth-of-type(4),
.textA span:last-of-type {
  width: 2px;
  height: 16px;
  background: white;
  position: absolute;
  top: 4px; bottom: 0; left: 0; right: 0;
  border-radius: 10px;
  transition: all 0.4s;
}
/* TEXT T */
.textA span:first-of-type{
    /* transform: rotate(25deg); */
    left: 17px;
    height: 15px;
}
.textA span:nth-of-type(2){
    transform: rotate(90deg);
    left: 17px; top:-2px;
    height: 14px
}
/* TEXT A */
.textA span:nth-of-type(3){
  transform: rotate(25deg);
  left: 30px;
}
.textA span:nth-of-type(4){
  transform: rotate(-25deg);
  left: 36px;
}
.textA span:last-of-type {
  width: 8px;
  height: 2px;
  top: 13px; bottom: 0; left: 30px; right: 0;
  border-radius: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        min-width: 0px;
        max-width: 0px;
        text-align: center;
        margin-left: -85px !important;
    }
    .main{
        min-width: 100% !important;
        max-width: 100% !important;
        margin-left: auto !important;
        right: 0;
    }
    .textA span:first-of-type{
      transform: rotate(90deg);
      top:-4px;left:24px;
      height: 22px;
    }
    .textA span:nth-of-type(2){
      transform: rotate(90deg);
      top:2px;left:24px;
      height: 22px;
    }
    .textA span:last-of-type {
      width: 22px;
      top: 18px;left: 14px; right: 0;
    }
    .textA span:nth-of-type(3){
        display: none;
    }
    .textA span:nth-of-type(4){
        display: none;
    }
    
}
@media (max-width: 992px) {
    .sidebar{
        max-width: 82px;
        min-width: 82px;
        text-align: center;
    }
    .sidebar .nav-item a i{
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    .sidebar .nav-item a{
        padding: 20px 0px;
        text-align: center;
        font-size: 0.85em;
    }
    .navbar-brand{
        max-width: 82px;
        min-width: 82px;
        text-align: center;
        font-weight: 900;
    }
    .long-brand{
        display:none
    }
    .short-brand{
        display:block;
    }
    .sidebar .nav-item ul li a{
        padding-left: 0px;
    }
    .main{
        min-width: 92%;
        max-width: 92%;
        margin-left: auto;
    }
    

}

/* ---------------------------------------------------
    MAIN
----------------------------------------------------- */
.table{ font-size:.8rem; }
.table thead th{ padding: 10px 10px; }
.table tbody td a { text-decoration: none; }